<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tài khoản</title>
</head>

<body>
    <div class="container">
        <div class="row gutters">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="account-settings">
                            <div class="user-profile">
                                <div class="user-avatar">
                                    <img class="img-fluid" src="IMAGE/account.png" alt="{{user.name}}">
                                </div>
                                <h5 class="user-name text-center text-secondary">{{user.name}}</h5>
                                <h6 class="user-email text-center text-secondary">{{user.email}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-2 fw-bold fs-5" style="color: #ff5900c4;">Thông tin cá nhân</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="fullName">Họ và tên</label>
                                    <input type="text" class="form-control" id="fullName" ng-model="user.name">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="eMail">Email</label>
                                    <input type="email" class="form-control" id="eMail" ng-model="user.email">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="phone">Số điện thoại</label>
                                    <input type="text" class="form-control" id="phone" ng-model="user.phone">
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mt-3 mb-2 fw-bold fs-5" style="color: #ff5900c4;">Địa chỉ</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="Street">Tên Đường</label>
                                    <input type="text" class="form-control" id="Street" ng-model="user.street">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="ciTy">Thành phố/Tỉnh</label>
                                    <input type="text" class="form-control" id="ciTy" ng-model="user.city">
                                </div>
                            </div>
                        </div>
                        <div class="row gutters mt-5">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="text-right">
                                    <button type="button" class="btn" style="background-color: #ff5900c4; color: #ffffff;" ng-click="updateProfile()">Cập nhật</button>
                                    <button type="button" class="btn btn-secondary" ng-click="logout()">Đăng xuất</button>
                                </div>
                            </div>
                        </div>

                        <!-- Change Password Section -->
                        <div class="row gutters mt-5">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mt-3 mb-2 fw-bold fs-5" style="color: #ff5900c4;">Đổi mật khẩu</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="currentPassword">Mật khẩu hiện tại</label>
                                    <input type="password" class="form-control" id="currentPassword" ng-model="passwordData.currentPassword">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="newPassword">Mật khẩu mới</label>
                                    <input type="password" class="form-control" id="newPassword" ng-model="passwordData.newPassword">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="confirmNewPassword">Xác nhận mật khẩu mới</label>
                                    <input type="password" class="form-control" id="confirmNewPassword" ng-model="passwordData.confirmNewPassword">
                                </div>
                            </div>
                        </div>
                        <div class="row gutters mt-5">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="text-right">
                                    <button type="button" class="btn btn-warning" ng-click="changePassword()">Đổi mật khẩu</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="angular.js"></script>
</body>

</html>
